# Installations and imports

In [23]:
## when you pull this file from the repo make sure to pip install the following: pip install pandas, pip install ipykernel pip install matplotlib, pip install seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import time

# 1. Luka's NBA data

In [9]:
luka_data_nba = pd.read_csv('data/luka_data.csv')
luka_data_nba.tail()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
2,2020-21,21,DAL,NBA,PG,66,66,34.3,9.8,20.5,...,0.8,7.2,8.0,8.6,1.0,0.5,4.3,2.3,27.7,MVP-6ASNBA1
3,2021-22,22,DAL,NBA,PG,65,65,35.4,9.9,21.6,...,0.9,8.3,9.1,8.7,1.2,0.6,4.5,2.2,28.4,MVP-5ASNBA1
4,2022-23,23,DAL,NBA,PG,66,66,36.2,10.9,22.0,...,0.8,7.8,8.6,8.0,1.4,0.5,3.6,2.5,32.4,MVP-8CPOY-8ASNBA1
5,2023-24,24,DAL,NBA,PG,70,70,37.5,11.5,23.6,...,0.8,8.4,9.2,9.8,1.4,0.5,4.0,2.1,33.9,MVP-3CPOY-6ASNBA1
6,2024-25,25,DAL,NBA,PG,22,22,35.7,9.8,21.2,...,0.7,7.6,8.3,7.8,2.0,0.4,3.4,2.6,28.1,NaN

In [10]:
luke_advanced_data = pd.read_csv('data/luka_advanced.csv')
luke_advanced_data.tail()

,Season,Age,Team,Lg,Pos,G,GS,MP,PER,TS%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards
2,2020-21,21,DAL,NBA,PG,66,66,2262,25.3,0.587,...,36.0,5.1,2.6,7.7,0.163,6.1,0.7,6.8,5.1,MVP-6ASNBA1
3,2021-22,22,DAL,NBA,PG,65,65,2301,25.1,0.571,...,37.4,3.8,3.8,7.6,0.159,6.4,1.8,8.2,5.9,MVP-5ASNBA1
4,2022-23,23,DAL,NBA,PG,66,66,2391,28.7,0.609,...,37.6,7.3,2.9,10.2,0.204,7.6,1.4,8.9,6.6,MVP-8CPOY-8ASNBA1
5,2023-24,24,DAL,NBA,PG,70,70,2624,28.1,0.617,...,36.0,8.5,3.5,12.0,0.220,8.3,1.7,9.9,8.0,MVP-3CPOY-6ASNBA1
6,2024-25,25,DAL,NBA,PG,22,22,785,24.6,0.584,...,32.8,1.8,1.1,2.9,0.177,5.6,1.4,7.0,1.8,NaN

# 2. AD's NBA data

In [11]:
AD_data = pd.read_csv('data/AD.csv')
AD_data.tail()

,Season,Age,Team,Lg,Pos,G,GS,MP,PER,TS%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards
9,2021-22,28,LAL,NBA,C,40,40,1404,23.9,0.578,...,27.1,2.6,2.0,4.5,0.155,2.6,1.2,3.8,2.0,NaN
10,2022-23,29,LAL,NBA,C,56,54,1904,27.8,0.627,...,28.4,5.5,3.4,9.0,0.226,4.6,1.7,6.3,4.0,NaN
11,2023-24,30,LAL,NBA,C,76,76,2700,25.8,0.621,...,26.7,7.2,4.7,11.8,0.210,3.5,1.7,5.1,4.9,DPOY-4ASNBA2
12,2024-25,31,LAL,NBA,C,42,42,1440,27.4,0.601,...,30.4,3.8,2.4,6.2,0.208,4.5,1.2,5.8,2.8,NaN
13,13 Yrs,13 Yrs,13 Yrs,13 Yrs,NaN,778,771,26849,26.9,0.593,...,28.3,73.4,44.9,118.3,0.212,4.4,1.5,5.9,53.8,NaN

In [12]:
AD_advanced_data = pd.read_csv('data/AD_advanced.csv')
AD_advanced_data.tail()

,Season,Age,Team,Lg,Pos,G,GS,MP,PER,TS%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards
9,2021-22,28,LAL,NBA,C,40,40,1404,23.9,0.578,...,27.1,2.6,2.0,4.5,0.155,2.6,1.2,3.8,2.0,NaN
10,2022-23,29,LAL,NBA,C,56,54,1904,27.8,0.627,...,28.4,5.5,3.4,9.0,0.226,4.6,1.7,6.3,4.0,NaN
11,2023-24,30,LAL,NBA,C,76,76,2700,25.8,0.621,...,26.7,7.2,4.7,11.8,0.210,3.5,1.7,5.1,4.9,DPOY-4ASNBA2
12,2024-25,31,LAL,NBA,C,42,42,1440,27.3,0.601,...,30.4,3.8,2.4,6.2,0.208,4.5,1.2,5.8,2.8,NaN
13,13 Yrs,13 Yrs,13 Yrs,13 Yrs,NaN,778,771,26849,26.9,0.593,...,28.3,73.4,44.9,118.3,0.212,4.4,1.5,5.9,53.8,NaN

# 3. Get top 20 players in VORP for each season from 2006 to 2022

In [30]:
o8_o9 = pd.read_csv('data/2008-09.csv')
o6_o7 = pd.read_csv('data/2006-07.csv')
o10_o11 = pd.read_csv('data/2010-11.csv')
o9_o10 = pd.read_csv('data/2009-10.csv')
o11_o12 = pd.read_csv('data/2011-12.csv')
o12_o13 = pd.read_csv('data/2012-13.csv')
o13_o14 = pd.read_csv('data/2013-14.csv')
o14_o15 = pd.read_csv('data/2014-15.csv')
o15_16 = pd.read_csv('data/2015-16.csv')

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP▼,Awards,Player-additional
0,1,LeBron James,24,CLE,SF,81,81,3054,31.7,0.591,...,13.7,6.5,20.3,0.318,9.5,3.7,13.2,11.8,MVP-1DPOY-2ASNBA1,jamesle01
1,2,Chris Paul,23,NOH,PG,78,78,3002,30.0,0.599,...,13.3,5.0,18.3,0.292,7.2,3.8,11.0,9.9,MVP-5DPOY-6ASNBA2,paulch01
2,3,Dwyane Wade,27,MIA,SG,79,79,3048,30.4,0.574,...,10.3,4.4,14.7,0.232,8.2,2.4,10.6,9.6,MVP-3DPOY-3ASNBA1,wadedw01
3,4,Brandon Roy,24,POR,SG,78,78,2903,24.0,0.573,...,10.9,2.6,13.5,0.223,6.0,0.1,6.2,6.0,MVP-9ASNBA2,roybr01
4,5,Kobe Bryant,30,LAL,SG,82,82,2960,24.4,0.561,...,8.6,4.0,12.7,0.206,5.6,0.3,5.9,5.9,MVP-2DPOY-7ASNBA1,bryanko01

In [ ]:
# List of DataFrames for each season (e.g., 'o0_o1' for 2000-2001, 'o1_o2' for 2001-2002, etc.)
seasons_data = [
    o0_o1, o1_o2, o2_o3, o3_o4, o4_o5, o5_o6, o6_o7, o7_o8, o8_o9, o9_o10,
    o10_o11, o11_o12, o12_o13, o13_o14, o14_o15, o15_o16, o16_o17, o17_o18, o18_o19, o19_o20,
    o20_o21, o21_o22
]

# List of season names corresponding to the DataFrames (you can adjust these if the names are different)
season_names = [
    "o0_o1", "o1_o2", "o2_o3", "o3_o4", "o4_o5", "o5_o6", "o6_o7", "o7_o8", "o8_o9", "o9_o10",
    "o10_o11", "o11_o12", "o12_o13", "o13_o14", "o14_o15", "o15_o16", "o16_o17", "o17_o18", "o18_o19", "o19_o20",
    "o20_o21", "o21_o22"
]

# Add the 'Season' column to each DataFrame
for season_df, season_name in zip(seasons_data, season_names):
    season_df['Season'] = season_name

# Concatenate all DataFrames into one large DataFrame
all_seasons_df = pd.concat(seasons_data, ignore_index=True)

# Display the first few rows of the merged DataFrame
print(all_seasons_df.head())