In [16]:
import pandas as pd
import numpy as np
import re

In [6]:
AD_similar = [
    "LeBron James", "Kevin Durant", "Chris Paul", "Dirk Nowitzki",
    "James Harden", "Dwyane Wade", "Stephen Curry", "Pau Gasol",
    "Tim Duncan", "Dwight Howard", "Kobe Bryant", "Kevin Love", "Anthony Davis"
]

In [7]:
luke_similar = [
    "LeBron James", "Nikola Jokić", "Kevin Durant", "Luka Dončić",
    "James Harden", "Karl-Anthony Towns", "DeMarcus Cousins", "Kevin Love", "Joel Embiid"
]

In [5]:
trades2 = pd.read_csv('nba_trades.csv')
trades2.sample(15)

                                        Trade Details
11  The Indiana Pacers traded a 2028 2nd round dra...
14  The Memphis Grizzlies traded a 2028 2nd round ...
8   The Miami Heat traded Victor Oladipo, a 2029 2...
32  The Toronto Raptors traded Kira Lewis Jr., Ott...
27  The Charlotte Hornets traded Terry Rozier to t...
46  The Charlotte Hornets traded Gordon Hayward to...
21  In a 3-team trade, the Los Angeles Clippers tr...
17  The Phoenix Suns traded Cameron Payne, cash an...
33  The Brooklyn Nets traded Spencer Dinwiddie to ...
10  The Atlanta Hawks traded John Collins to the U...
36  The Charlotte Hornets traded P.J. Washington, ...
19  The Boston Celtics traded Malcolm Brogdon, Rob...
0   Transactions listed are from July 1, 2023 to \...
12  In a 5-team trade, the Atlanta Hawks traded Al...
4   The Dallas Mavericks traded cash to the Sacram...